allow platform_app hal_drm_default:binder call;
allow platform_app sysfs_graphics:lnk_file r_file_perms;
allow platform_app system_app_data_file:dir r_dir_perms;

