allow platform_app ota_package_file:dir r_dir_perms;
allow platform_app sysfs_graphics:lnk_file r_file_perms;
allow platform_app system_app_data_file:dir r_dir_perms;

binder_call(platform_app, hal_drm_default)
binder_call(platform_app, init)

